
<h1>*****Demonstration of Style binding*****</h1>
<h1>Marvellous Infosystems</h1>
<h1 [style.color]="'red'">Marvellous Infosystems</h1>
<h1 [style.color]="'blue'">Marvellous Infosystems</h1>
<h1 [style.color]="MyColor">Marvellous Infosystems</h1>
<h1 [style.color]="YourColor">Marvellous Infosystems</h1>
<h1 [style.color]="Isset ? 'orange' : 'red'">Marvellous Infosystems</h1>

<h1>*****Demonstration of class binding*****</h1>
<h1 class="success">Demonstration of class binding</h1>
<h1 class="failure">Demonstration of class binding</h1>
<h1 [class] = "Myclass">Demonstration of class binding</h1>
<h1 [class.success] = "Isset">Demonstration of class binding</h1>

<h1>*****Demonstration of Event binding*****</h1>
<button (click)="MyAction()">Submit</button>
<h1>{{Data}}</h1>
<button (click)="MyActionNew($event)">New Button</button>




